    <div class="container">
        <div class="row">
	  <h2>What is it ?</h2>
	  <p>GoCover.io offers the code coverage of any golang package as a service.</p>
	  <p>The sources are available on <a href="http://github.com/vieux/gocover.io">github</a>.</p>
	  <hr/>
	  <h2>How does it work ?</h2>
	  <p>Getting code coverage of a sofware requires running its tests. See more <a href="http://blog.golang.org/cover">here</a>.</p>
	  <p>As executing all that code (running the tests) could be dangerous, it has to be done in a isolated environment.</p>
	  <p>That's why, each time you get the coverage of a package, the tests are run inside a <a href="http://docker.com">docker</a> container.</p>
	  <hr/>
	  <h2>Copyright</h2>
	  <p>© 2014-2016 Victor Vieux All Rights Reserved.</p>
        </div>
    </div><!-- /.container -->
