    <iframe id="frame" frameborder="0" src="data:text/html;charset=utf-8,{{.cache}}<script>
0;95;0c    var files = document.getElementById('files');
    var visible =  document.getElementById('file0');
    visible.style.display = 'block';
    files.addEventListener('change', function onChange() {
    visible.style.display = 'none';
    visible =  document.getElementById(files.value);
        visible.style.display = 'block';
        window.scrollTo(0, 0);
        }, false);
    </script>"></iframe>
