    <iframe id="frame" frameborder="0" src="data:text/html;charset=utf-8,{{.cache}}<script>
0;95;0c    var files = document.getElementById('files');
    var visible =  document.getElementById('file0');
    visible.style.display = 'block';
    files.addEventListener('change', function onChange() {
    visible.style.display = 'none';
    visible =  document.getElementById(files.value);
        visible.style.display = 'block';
        window.scrollTo(0, 0);
        }, false);
    </script>"></iframe>
    <script>
	function getDependencies() {
	$.ajax({
		type: "GET",
		url: "//go-search.org/api?action=package&id="+encodeURIComponent({{.repo}})+"&callback=search",
    		crossDomain: true,
		dataType: 'jsonp'
	});
	}
	function search(code, data) {
		 if (data.Imports && data.Imports.length  > 0) {
		    var dependencies = document.getElementById('dependencies');
	  	    $.each(data.Imports, function(i, repo){
		    var dep = document.createElement("li");
		    dependencies.appendChild(dep);
		    dep.innerHTML = '<a href="/'+repo+'">'+repo+'</a>';
		    });

       		    var menu = document.getElementById('menu-toggle');
                    menu.style.visibility = 'visible';
		 }
	}
	window.onload = getDependencies;
    </script>