    <div class="container">
    <script>
	function handleEnter(e) {
    	     if (e.keyCode == 13) {
       		 parent.location='/'+document.getElementById('repo').value
        	 return false;
    	     }
	}
    </script>

        <div class="row text-center margin40" style="padding-bottom: 40px;"><img src="/logo.png"/></div>
	<div class="jumbotron">
	     <p>See code coverage of <a href="#" data-toggle="tooltip" data-container="body" data-placement="top" title="As long as the package can be `go get` and `go test` on linux" id="totip">any*</a> Go package.</p>
	     <div class="input-group input-group-lg">
             	  <input onkeypress="return handleEnter(event)" type="text" class="form-control" placeholder="repository address, e.g. github.com/user/project" id="repo"/>
                  <span class="input-group-btn">
                  	<button class="btn btn-info" type="button" onclick="parent.location='/'+document.getElementById('repo').value"><span class="glyphicon glyphicon-wrench"></span> Go</button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value">go1.7.1</a></li>
				<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value+'?version=1.6.3'">go1.6.3</a></li>
				<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value+'?version=1.5.3'">go1.5.3</a></li>
				<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value+'?version=1.4.3'">go1.4.3</a></li>
				<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value+'?version=1.3.3'">go1.3.3</a></li>
             		       	<li><a href="#" onclick="parent.location='/'+document.getElementById('repo').value+'?version=1.2.2'">go1.2.2</a></li>
			</ul>
                  </span>
             </div>
	</div>
        <div class="row">
            <div class="col-md-6">
	    	 <div class="list-group">
  		      <a class="list-group-item active">Most popular repositories</a>
  		      {{range .top}}
		      <a href="/{{.Repo}}" class="list-group-item">{{.Repo}}<span class="badge {{.Color}}">{{.Coverage}}</span></a>
		      {{end}}
		 </div>
            </div>
            <div class="col-md-6">
	    	 <div class="list-group">
  		      <a class="list-group-item active">Last repositories covered</a>
  		      {{range .last}}
		      <a href="/{{.Repo}}" class="list-group-item">{{.Repo}}<span class="badge {{.Color}}">{{.Coverage}}</span></a>
		      {{end}}
		 </div>
            </div>
        </div>
    </div><!-- /.container -->